<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="row">
      <div class="col col-12 col-md-8 mb-3">
        <app-pong-animation></app-pong-animation>
      </div>
      <div class="col col-12 col-md-4">
        <h4>Pong</h4>
        <h5 class="text-muted">CSS Keyframes</h5>
        <p>Gaze and be mesmerized! Originally intended to be
          a loading animation for something that typically took at least 10 seconds.
        </p>
      </div>
    </div>
  </li>
</ul>