<h3 class="h1">About</h3>
<div class="row">
  <figure class="col col-12 col-lg-6 order-lg-2">
    <img src="assets/me_and_fella.jpg">
    <figcaption class="text-muted">Me and my little fella going over the Spokane River</figcaption>
  </figure>
  <div class="col col-12 col-lg-6">
    <p>
      Welcome to the wonderful world of Konnor!
    </p>
    <p>
      I am a web developer, dad, red-head, funk-enthusiast, doodler, and plaid-wearer
      living in the Spokane, WA area. I like to be outside when I can, and I have a dream of
      learning and mastering different art mediums (painting, animation, etc.).
    </p>
    <p>
      Here I am putting together a sort of portfolio page.
      Feel free to check out my artwork and play around with the games I made.
    </p>
    <p>
      I can be contacted below at the following sites:
    </p>
    <app-social-media-list></app-social-media-list>
  </div>
</div>
