<h3 class="h1">About</h3>
<p>
  Welcome to the wonderful world of Konnor!
  Here I've put/am putting together a sort of portfolio page.
  Feel free to check out my artwork and play around with the games I made.
</p>

<div>Filtering and stuff</div>
<ul>
  <li>The</li>
  <li>gallery</li>
</ul>

<ul class="fa-ul">
  <li>
    <a href="https://www.linkedin.com/in/konnor-welsch-812448114" target="_blank" rel="noopener noreferrer">
      <span class="fa-li">
        <i class="fab fa-linkedin"></i>
      </span>
      LinkedIn
    </a>
  </li>
  <li>
    <a href="https://github.com/kwelsch7" target="_blank" rel="noopener noreferrer">
      <span class="fa-li">
        <i class="fab fa-github"></i>
      </span>
      GitHub
    </a>
  </li>
  <li>
    <a href="https://codepen.io/kwelsch" target="_blank" rel="noopener noreferrer">
      <span class="fa-li">
        <i class="fab fa-codepen"></i>
      </span>
      CodePen
    </a>
  </li>
</ul>