@import '../../styles.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 0;
  font-variant: small-caps;
}

h2 {
  font-size: 1.5rem;
  margin-left: 8rem;
}

.content {
  position: relative;
  background-color: $content-background;
  flex-grow: 1;
}

header, .content {
  padding: 0 1.5rem;
}

.inner-content {
  padding: 2.25rem;
}
