@import '../../styles.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
}

.content {
  position: relative;
  background-color: $content-background;
  flex-grow: 1;
  padding: 0 1.5rem;
}

.inner-content {
  padding: 1.5rem 0.5rem;
}

@media (min-width: 768px) {
  header {
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    text-align: initial;
  }

  h2 {
    margin-left: 8rem;
  }
  
  .inner-content {
    margin-top: 9rem;
    padding: 1.5rem 1rem;
  }
}

@media (min-width: 992px) {
  .inner-content {
    padding: 2.25rem;
  }
}