<div class="row">
  <div class="col col-12 col-md-4">
    <img [src]="galleryItem.imageLink">
  </div>
  <div class="col col-12 col-md-8">
    <div class="headers-and-tags">
      <div>
        <h4>{{galleryItem.title}}</h4>
        <h5 class="text-muted">{{galleryItem.date}} - {{galleryItem.medium}}</h5>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item badge badge-secondary" *ngFor="let tag of galleryItem.tags">
          <i class="fas fa-tags mr-2"></i> {{tag}}
        </li>
      </ul>
    </div>
    <p>{{galleryItem.description}}</p>
  </div>
</div>
