<ng-template #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ galleryItem.title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="galleryItem.imageLink" class="modal-img">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalRef.close()">Close</button>
  </div>
</ng-template>

<div class="row">
  <div class="col col-12 col-md-4">
    <img [src]="galleryItem.imageLink" class="item-img" (click)="onImageClick(content)">
  </div>
  <div class="col col-12 col-md-8">
    <div class="headers-and-tags">
      <div>
        <h4>{{galleryItem.title}}</h4>
        <h5 class="text-muted">{{galleryItem.date}} - {{galleryItem.medium}}</h5>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item badge badge-secondary" *ngFor="let tag of galleryItem.tags">
          <i class="fas fa-tags mr-2"></i> {{tag}}
        </li>
      </ul>
    </div>
    <p>{{galleryItem.description}}</p>
  </div>
</div>
