$background-color: #005792;
$text-color: #13334c;
$content-background: #f6f6e9;
$accent-color: #fd5f00;
$accent-color-light: #FF8526;
$accent-color-dark: #D73900;
$accent-2: #F1B3C8;
$accent-2-dark: #E87B9F;

body {
  margin: 0;
}

h1 {
  color: $accent-2;
}

h2 {
  color: $accent-2-dark;
}

p {
  font-size: 1.125rem;
}
