<div (appClickOutside)="onClickOutside()" class="form-group position-relative d-inline-block">
  <button (click)="onDropdownClick()" [ngClass]="{ 'dropdown-button': true, 'form-control': true, 'retain-focus': isOpen }">
    <span>{{label}} ({{selectedOptions.length}})</span>
    <i [ngClass]="{ fas: true, 'fa-caret-down': !isOpen, 'fa-caret-up': isOpen }"></i>
  </button>
  <div *ngIf="isOpen" class="dropdown-body">
    <div class="option" *ngFor="let option of options" (click)="onOptionClick(option)">
      <i [ngClass]="{ 'mr-2': true, fas: true, 'fa-square': !selectedOptions.includes(option), 'fa-check-square': selectedOptions.includes(option) }"></i>
      {{option}}
    </div>
    <button (click)="onClearClick()" [disabled]="selectedOptions.length === 0" class="btn btn-secondary float-right mt-2">Clear</button>
  </div>
</div>